
.container-dashboard{
    /* width: 100%; */
    width: auto;
    height: auto;
    margin-top: -10px;
    margin-left: 280px;
    padding: 0;
    background:rgb(255, 254, 254);
}
.body-dashboard{
    width:auto;
    height: 100vh;
    padding:10px;
    background:rgb(255, 255, 255);
    /* background-color: aqua; */
}
.dashTitle{
    margin:10px 20px;
}
.total-items{
    width: 100%;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.total-books{
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}
.total-box{
    width:70px;
    height: 70px;
    background: rgb(0, 201, 134);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(40,40,40);
}
@media only screen and (max-width: 760px) {
    .container-dashboard{
        margin-left: 20px;
        justify-content: center;
    }
    .total-items{
        width: 100%;
        justify-content: center;
    }
    .total-books{
        width:250px;
    }
}
.fine{
    background:rgb(189, 61, 61);
    color:rgb(255, 255, 255);
}
.borrow{
    background:green;
    color:rgb(255, 255, 255);
}
.users{
    background:rgb(192, 192, 0);

}
.title-total{
    margin-left: 10px;
    font-family: sans-serif;
}
.title-total p{
    font-size: 17px;
}
.title-total p a{
    text-decoration: none;
    color: blue;
}
.title-total span{
    font-weight: bolder;
}
.chart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.visitor{
    width: 50%;
}
.chartVisitor{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}
.popularBook{
    width: 50%;
    font-size:200px;
}